*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-family: sans-serif;
}

body{
    background-color: #008793;}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* JAVIER REDES SOCIALES */
.social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.social{
    display: flex;
    list-style: none;
    color: white;
}

.social-item{
    margin: 1rem;
    font-size: 3rem;
}

.social-item a{
    color: white;
    text-decoration: none;
    transition: .5s all ease-in-out;
}

.social-item a:hover{
    color: #051937;
}

h1{
    text-align: center;
    margin: 1rem 0;
}

.repositorio{
    background-color: rgba(255, 255, 255, 0.548);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
    max-width: 600px;
    text-align: center;
    font-weight: bold;
    color:#4b4848;
    margin: 1rem;
    font-size: 1.2rem;

}

.repositorio i{
    color: #008d4b;
    font-size: 2.5rem;
    margin: 1rem 0;
    transition: .5s all ease-in-out;

}

.repositorio i:hover{
    color: #051937;

}

.items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;

}

.item{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color:#4b4848;
    margin: 0 1rem;
    width: 80px;
}

.item i{
    font-size: 2rem;
    margin: 1rem 0;
    color: #008d4b;
    transition: .5s all ease-in-out;
}

.item i:hover{
    color: #051937;
}