$grey-background: #f7f4f4
$white-color: #fffffe
$dark-color: #2d2d2e
$violet-color: #6246ea
$violet-mid-color: #9d9dd8
$violet-light-color: #d1d1e9
$red-light-color: #e45858
$text-color: #707070

/* Icon Tecnologies */
$html-color: #ff793b
$css-color: #2343f5
$js-color: #F7E018
$node-color: #8FC53E
$angular-color: #DF2E31
$database-color: #AFAFB1

.theme
    --grey-background: #{$grey-background}
    --white-color: #{$white-color}
    --text-color: #{$text-color}

.dark
    --grey-background: #{$dark-color}
    --white-color: #{$violet-color}
    --text-color: #{$white-color}

.html
    color: $html-color

.css
    color: $css-color

.js
    color: $js-color

.node
    color: $node-color

.angular
    color: $angular-color

.database
    color: $database-color
